[Unit]
Description=uWSGI Service
After=network.target

[Service]
User={{ Uwsgi_Service.application.owner }}
Group={{ Uwsgi_Service.application.group }}

WorkingDirectory={{ Uwsgi_Service.application.path }}/{{ Uwsgi_Service.application.name }}
ExecStart=/usr/local/bin/uwsgi --ini {{ Uwsgi_Service.application.name }}.ini

[Install]
WantedBy=multi.user.target
