server {
        listen 80;
        listen [::]:80;
        server_name {{ Uwsgi_Service.domain }} www.{{ Uwsgi_Service.domain }};

        location / {
                include uwsgi_params;
                uwsgi_pass unix:/{{ Uwsgi_Service.application.path }}/{{ Uwsgi_Service.application.name }}/{{ Uwsgi_Service.application.name }}.sock;
        }
}