log_format upstreamlog '$server_addr => $upstream_addr [$request] // '
  'REQUEST_TIME: $request_time, '
  'RESPONSE_TIME: $upstream_response_time';

upstream backend {
        {{ upstream.method }};
{% for host in upstream.proxied %}
        server {{ host }};
{% endfor -%}
    }

    server {
        listen 80; 

        access_log /var/log/nginx/access.log upstreamlog;

        location / {
                proxy_pass http://backend;
        }
}